.avatarCreator {
  background-color: rgb(46, 46, 46);
  border: solid black 1px;
  background-color: #212121;
  box-shadow: 15px 15px 30px #191919, -15px -15px 30px #292929;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  padding: 0.5rem;
}

.avatarCreator:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.05);
}
