.Bureau {
  position: relative;
  width: 80%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  border: black 2px solid;
  border-radius: 6px;
}
.Bureau h1 {
  position: absolute;
  top: 0;
  left: 50%;
  color: white;
  margin-top: 4px;
  transform: translate(-50%, 0);
}
.Bureau img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 1080px) {
  .Bureau {
    /* width: auto; */
    height: 500px;
  }
}
