.rainbow {
  animation: rainbow 3.5s linear;
  animation-iteration-count: infinite;
}
@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

.gameTitle {
  @apply text-3xl font-medium text-white;
  text-shadow: 2px 4px 9px rgba(0, 0, 0, 0.66);
}

@media screen and (max-width: 768px) {
  .gameTitle {
    @apply text-xl;
    margin-top: 10px;
  }
}
