.gameTitle {
  @apply text-3xl font-medium text-white;
  text-shadow: 2px 4px 9px rgba(0, 0, 0, 0.66);
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 1.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  color: white;
  padding-left: 15%;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 970px) {
  .gameTitle {
    margin-top: 10px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 970px) {
  .gameTitle {
    padding-left: 0;
  }
}
