@font-face {
  font-family: "Press Start 2P";
  src: local("Press Start 2P"),
    url("src/assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf")
      format("truetype");
}

* {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.3rem;
}
html {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}
head {
  display: block;
}
.Chrono {
  height: auto;
  margin-top: 20px;
  display: inline-block;
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 0px #656565;
  font-family: "Press Start 2P", cursive;
}
