@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(31, 41, 55, 0.933);
  font-family: "Orbitron", sans-serif;
}
nav {
  color: white;
  display: flex;
  justify-content: flex-end;
}
.intro-paragraphe {
  @apply text-xs text-center text-white md:text-xl;
  border: solid black 1px;
  border-radius: 6px;
  max-width: 90%;
  background-color: rgba(27, 36, 49, 0.933);
  margin-top: 16px;
}
