@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;

  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: "Orbitron", sans-serif;
  overflow-x: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
nav {
  color: white;
  display: flex;
  justify-content: flex-end;
}
.intro-paragraphe {
  @apply text-xs text-center text-white md:text-xl;
  border: solid black 1px;
  border-radius: 6px;
  max-width: 90%;
  background-color: rgba(27, 36, 49, 0.933);
  margin-top: 16px;
}
